
body{
	font-family: Arial, sans-serif; 
	text-align: center; 
	background-color: #e6f2ff; 
	color: #333; 
	margin:0;

}

h2{
	color: #007bff;
}

h1{
	background-color: #007bff; 
	color: white; 
	padding: 2rem; 
	font-style:italic;
}

ul{
	padding: 0; 
	font-size: 1.1rem;
}

p{
	font-size: 1.2rem; 
	padding: 1rem;
}

footer{
	padding: 0.5rem; 
}
